@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #container {
    @apply w-full h-full; /* use Tailwind's w-full and h-full utilities */
    aspect-ratio: 16/9; /* maintain a 16:9 aspect ratio */
    max-width: 800px; /* set a maximum width for the container */
    max-height: 600px; /* set a maximum height for the container */
    margin: 40px auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    /* Add these rules to maintain the container size */
    flex-shrink: 0;
    flex-basis: 100%;
  }

  #controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  #controls:hover {
    opacity: 1;
  }

  #progress-bar {
    height: 10px;
    width: 100%;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
  }

  #progress-indicator {
    height: 100%;
    width: 0;
    background-color: #4CAF50;
    transition: width 0.5s ease-in-out;
  }

  .material-icons {
    font-size: 24px;
    color: #fff;
  }
}